### Ignore log files in workspace
logs/
*/logs

### Gradle
.gradle/
build/
*/build

*/target

#### Java
*.class
classes/

### IntelliJ
/.idea
*.iml


### Package Files
*.jar
*.war
*.pyc

# STS (Spring Tool Suite)
.springBeans
